.contact_container {
  height: 70vh;
  background-color: #0f0a15;
  z-index: 1;
  margin-top: 55%;
}

.contact_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 70vh;
  background: linear-gradient(to top, #000 20%, #150c1f 60%);
  clip-path: polygon(0 12%, 100% 0, 100% 100%, 0% 100%);
  text-align: center;
  justify-content: center;
  padding-top: 10px;
  z-index: 20;
}

.contact_content h1 {
  font-weight: 400;
  font-size: 64px;
  z-index: 5;
}

.contact_content a {
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
  color: inherit;
  z-index: 5;
}

.contact_content a:hover {
  color: #9d64de;
}

@media (min-width: 1920px) {
  .contact_container {
    margin-top: 0;
  }

  .contact_content a {
    font-size: 30px;
    text-decoration: none;
    color: inherit;
    z-index: 5;
  }
}
