.projects_container {
  height: 140vh;
  display: flex;
  flex-direction: column;
  margin-top: 15em;
}

.title {
  height: 200px;
  background-color: #1a1124;
  background: linear-gradient(to right, #1a1124, #000);
  clip-path: polygon(0 29%, 100% 15%, 100% 93%, 0% 100%);
  display: flex;
  align-items: center;
}

.title h1 {
  padding-top: 40px;
  font-size: 64px;
  padding-left: 106px;
}
