.projects_container {
  height: 170vh;
  display: flex;
  flex-direction: column;
  margin-top: 15em;
}

.background_title {
  height: 220px;
  background: linear-gradient(to right, #0f0a15, #000);
}

.title {
  height: 210px;
  background: linear-gradient(to right, #150c1f, #000);
  clip-path: polygon(0 8%, 100% 0%, 100% 97%, 0 97%);
  display: flex;
  align-items: center;
  z-index: 2;
  padding: 20px auto;
}

.title h1 {
  font-size: 64px;
  padding-left: 106px;
  padding-top: 25px;
}

.main_projects {
  display: flex;
  justify-content: space-around; /* ou 'space-around' */
  gap: 20rem;
  flex-wrap: wrap;
}
