.projects_container {
  height: 160vh;
  display: flex;
  flex-direction: column;
  margin-top: 12em;
  margin-bottom: 15%;
}

.background_title {
  height: 220px;
  background: linear-gradient(to right, #0f0a15, #000);
}

.title {
  height: 210px;
  background: linear-gradient(to right, #150c1f, #000);
  clip-path: polygon(0 8%, 100% 0%, 100% 97%, 0 97%);
  display: flex;
  align-items: center;
  z-index: 2;
  padding: 20px auto;
}

.title h1 {
  font-size: 64px;
  padding-left: 106px;
  padding-top: 25px;
}

.content_projects {
  padding: 12rem 4rem;
}

.main_projects {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10rem;
  flex-wrap: wrap;
}

.more_projects {
  padding-top: 10rem;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  gap: 10rem;
  flex-wrap: wrap;
}

@media (min-width: 1920px) {
  .projects_container {
    margin-bottom: 0;
  }
}

/* notebook */
@media screen and (max-width: 1024px) {
  .projects_container {
    height: 180vh;
    margin-bottom: 50%;
  }
}

/* Ipad */
@media screen and (max-width: 768px) {
  .projects_container {
    height: 200vh;
    margin-bottom: 70em;
  }
  .title h1 {
    font-size: 64px;
    padding-left: 60px;
    padding-top: 25px;
  }
}
