.skills {
  margin-top: 15em;
  margin-left: 30%;
  text-align: center;
  width: 600px;
  height: 670px;
  color: #fff;
  border-radius: 50px;
  background: linear-gradient(to top, #000, #1a1124);
}

.skills h1 {
  padding-top: 40px;
  font-size: 64px;
  font-weight: 400;
  z-index: 100;
}

.skills_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  gap: 40px;
  z-index: 2;
}

.column {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 30px;
  z-index: 4;
}

.row {
  display: flex;
  align-items: center;
}

.row p {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  width: 100px;
  z-index: 4;
}

.icon {
  font-size: 2.5em;
  width: 60px;
  height: 60px;
  margin: 0 10px;
  padding: 10px;
  z-index: 100;
  z-index: 4;
}

@media (min-width: 1920px) {
  .skills {
    margin-left: 30%;
    justify-content: center;
    width: 800px;
    height: 870px;
  }
  .row p {
    font-size: 40px;
  }
  .icon {
    font-size: 3.5em;
    width: 80px;
    height: 80px;
    margin: 0 10px;
  }
}

@media screen and (max-width: 1024px) {
  .skills {
    margin-top: 10em;
    margin-left: 25%;
    width: 500px;
    height: 600px;
    align-items: center;
  }

  .skills h1 {
    font-size: 48px;
  }

  .icon {
    font-size: 2em;
    width: 50px;
    height: 50px;
  }
}

/* Ipad */
@media screen and (max-width: 768px) {
  .skills {
    margin-top: 10em;
    margin-left: 18%;
    width: 500px;
    height: 600px;
    align-items: center;
  }

  .skills h1 {
    font-size: 48px;
  }

  .icon {
    font-size: 2em;
    width: 50px;
    height: 50px;
  }
}
