.container {
    display: flex;
    align-items: center;
}

.container h1 {
    font-size: 60px;
}


.aboutMeContainer {
    display: flex;
    padding: 15px 100px;
    align-items: center;
    
}

.aboutMeContainer img {
    width: 50%;
    height: 500px;
    border-radius: 100px;
    margin-left: 10%;
}

.textAboutMe h3, h2{
    display: flex;
    text-align: left;
}